*{
  font: 'Georgia', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005caa;
  color: rgb(51, 47, 47);
  padding: 10px 20px;
  width: 95vw;
}

.header img {
  height: 40px;
}

.header h1 {
  margin: 0;
  font-size: 15px;
  font-family: Georgia;
  color: #ffffff
}

.imagemLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imagemLogo img {
  height: 40px;
}

.imagemLogo span {
  font-size: 24px;
  font-weight: bold;
}

.ListaClubes{
  display: flex;
  gap: 10px;
  background-color: #ffffff;
  font-family: Georgia;
  font-size: 15px;

}

.clubesAlinhamento{
  list-style: none;
  
}

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      text-align: center;
  }

}